@media screen {
    body {
        color: #333;
        padding: 2em;
    }

    header {
        font-weight: bold;
        margin-bottom: 2em;
        text-transform: uppercase;
    }

    .container {
        margin: 0 auto;
        max-width: 980px;
        width: 100%;
    }
}
